body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
/* def */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  /* height: 70px; */
  z-index: 1;
}
.logo-img {
  width: 100px;
  height: 50px;
  left: 90px;
  top: 0px;
  position: absolute;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}
a {
  margin: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.home-area {
  position: relative;
  background-image: url(images/Subtract.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-backgoround-size: cover;
  background-size: cover;
}

.business-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
}
.about-us-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
}
.recruit-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
}
.contact-us-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
   height: auto;
  overflow: hidden;
}
.news-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
}

.Footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 30px; /* 调整文字距离图片上边缘的距离 */
  left: 70px; /* 调整文字距离图片左边缘的距离 */
  color: white;
}

.text-overlay h2,
.text-overlay p {
  margin: 0;
}

.text-overlay h2,
.text-overlay p {
  margin: 0;
}

/**
.text-part{
    width: 65%;
    height: 80%;
}
*/

h1 {
  font-size: 50px;
  font-family: Audiowide;
}
p {
  font-size: 24px;
  line-height: 50px;
}
.about-area,
.service-area {
  background: #fefefe;
}
.port-area,
.contact-area {
  background: #262626;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
div.nav > div {
  font-family: Vollkorn SC;
  height: 100%;
}
div.nav > div a {
  display: flex;
  align-self: center;
}
@font-face {
  font-family: "Vollkorn SC";
  src: url("./assets/fonts/VollkornSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.active {
  color: red;
}
